@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap");
html {
  scroll-behavior: smooth;
  scrollbar-color: #6b65e7 #f0f0f0;
  scrollbar-width: thin;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  color: #555;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(#4776e6, #8e54e9);
  outline: 1px solid white;
  border-radius: 1em;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

.active {
  background-color: #6b65e7;
  background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
  color: #fff;
  width: 100px;
  height: 40px;
  border-radius: 22.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-times {
  background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidenav--open {
  width: 200px !important;
}

.hamburger {
  display: none;
  position: relative;
  cursor: pointer;
  z-index: 4;
}

.hamburger__wrapper {
  width: 50px;
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger--line {
  position: absolute;
  height: 2px;
  width: 50%;
  -webkit-transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
  background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
}

.top {
  top: 28%;
}

.middle {
  top: 48%;
}

.bottom {
  top: 68%;
}

.icon.close .top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 48%;
}

.icon.close .middle,
.icon.close .bottom {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 48%;
}

.rotate {
  -webkit-animation: rotate 1s;
          animation: rotate 1s;
}

.scale {
  -webkit-animation: scale 0.5s infinite alternate;
          animation: scale 0.5s infinite alternate;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 90px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.4em;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #6b65e7;
  background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidenav a :hover {
  color: #f1f1f1;
}

.sidenav .active {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
}

.sidenav__content {
  position: relative;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.navbar {
  width: 100vw;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 555;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar__container {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__scroll {
  background: #fff;
  position: fixed;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.navbar__logo {
  width: 60px;
  height: 60px;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar__logo:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.navbar__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar__nav a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
}

.navbar__link {
  width: 100px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__link:not(.active):hover {
  background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero {
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  text-align: center;
}

.hero__content .centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hero__content .secondary {
  display: none;
}

.hero__typo {
  font-weight: 800;
  font-size: 4.5rem;
  color: #6b65e7;
  background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contain {
  width: 40%;
}

.about {
  background: url("../img/background-full.svg") no-repeat;
  background-position: center;
  background-position-y: top;
  position: absolute;
  background-size: cover;
  height: 1000px;
  width: 100vw;
}

.about__content {
  padding-top: 6em;
}

.about__content h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.about__container {
  position: relative;
  padding-top: 9em;
}

.about__container .tools__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.about__container .tools__p img {
  width: 200px;
  height: 200px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  top: 3rem;
}

.about__container .tools__p p {
  width: 40%;
}

.about__container .tools__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about__wrapper {
  width: 84%;
  height: 85%;
}

.about__box {
  margin-top: 8em;
  background: #fff;
  width: 75%;
  height: 850px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__box .about__wrapper {
  width: 84%;
  height: 85%;
}

.about__box img.face {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 300px;
  padding: 5px;
  position: absolute;
  background: -webkit-linear-gradient(left, #6064dd, #6d5dde);
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about__box img.face:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.about__box img.line {
  -webkit-filter: drop-shadow(0 4px 6px 0 rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 4px 6px 0 rgba(0, 0, 0, 0.2));
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.about__basic {
  height: 33.3333%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: justify;
}

.about__basic h2 {
  color: #6b65e7;
  background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.about__basic h2:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.about__basic a {
  text-decoration: none;
  background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__basic img {
  width: 200px;
  height: 200px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  top: 1.4rem;
}

.about__basic img:hover {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.about__face {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 33.3333%;
}

.about__tools {
  height: 33.3333%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 0 0 auto;
  text-align: justify;
}

.about__tools .container {
  width: 100%;
}

.about__tools h2 {
  color: #6b65e7;
  background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.about__tools h2:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.about__tools .tools-icon:hover {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.about h1 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 48px;
}

.bg-tl::after,
.bg-cm::after,
.bg-pp::after,
.bg-sch::after {
  content: 'Telean';
  background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  top: -2rem;
  position: absolute;
  font-size: 24px;
  font-weight: 500;
}

.bg-cm::after {
  content: 'Centrum Moto';
}

.bg-pp::after {
  content: 'Dark PayPal';
}

.bg-sch::after {
  content: 'Schoolify';
}

.link-tl,
.link-cm,
.link-pp,
.link-sch {
  z-index: -1;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  color: #fff;
  margin: 0 auto;
  border: 2px solid white;
  padding: 0.5rem;
  border-radius: 22.5px;
  font-weight: 500;
}

.projects {
  text-align: center;
  margin-top: 1em;
  padding-top: 5em;
}

.projects h1 {
  color: #6b65e7;
  background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  margin-bottom: 3em;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.projects .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  width: 75%;
}

.projects__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24.414vh;
  position: relative;
  color: #fff;
  background: #fff;
  background-clip: padding-box;
  border: solid 3px transparent;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.projects__box img {
  position: absolute;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.projects__box:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
}

.projects__box--bg {
  border-radius: 16px;
  height: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
}

.projects__box--bg:hover {
  opacity: 0.1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contact {
  text-align: center;
  background: url("../img/background-reversed.svg") no-repeat;
  height: 600px;
  width: 100vw;
  margin-top: 8em;
  position: relative;
  background-size: cover;
  background-position: center;
  background-position-y: bottom;
}

.contact h1 {
  font-size: 48px;
  padding-top: 2em;
  font-weight: 600;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact form {
  padding-top: 3em;
}

.contact form input,
.contact form textarea,
.contact form button {
  width: 18rem;
  height: 2.7rem;
  border-radius: 20px;
  border: none;
  font-family: 'Montserrat';
  color: #555;
  font-weight: 500;
  font-size: 1.125rem;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 1em;
  margin: 0.5em;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.contact form textarea {
  width: 37.5rem;
  height: 8rem;
}

.contact form button {
  width: 145px;
  height: 44px;
  background: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 0;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contact form button:hover, .contact form button:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact form button .btn-text {
  color: #6b65e7;
  background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact form ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.contact form :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.contact form ::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.contact form ::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.footer {
  width: 100vw;
  text-align: center;
  position: relative;
}

.footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .social-logo {
  width: 30px;
  height: 30px;
  -webkit-transition: 1s;
  transition: 1s;
}

.footer .social-logo:hover, .footer .social-logo:focus {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.footer .my-logo-footer {
  width: 60px;
}

.footer .my-logo {
  width: 60px;
  height: 60px;
  margin: -0.8em;
}

.footer p {
  font-weight: 500;
  color: #6b65e7;
  background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer a {
  width: 30px;
  height: 30px;
  margin: 0.8em 1.2em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 1150px) {
  img.face {
    width: 10rem !important;
    height: 10rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .sidenav__btn {
    display: block !important;
  }
  .hamburger {
    display: block;
  }
  .navbar__nav {
    display: none;
  }
  .about__box {
    width: 95%;
  }
  .about__basic,
  .about__tools {
    font-size: 16px;
    width: 100% !important;
  }
  .projects .container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .projects__boxes {
    width: 95%;
  }
}

@media screen and (max-width: 670px) {
  input,
  textarea {
    width: 90% !important;
  }
  input {
    height: 3rem !important;
  }
  .hero__content img {
    width: 12em !important;
    height: 12em !important;
  }
  .hero__typo {
    font-size: 3.5rem;
  }
  .hero__sub {
    font-size: 1rem;
  }
  .about {
    margin-top: -3rem;
  }
  .contain {
    width: 60%;
  }
  .contain h2 {
    font-size: 20px;
  }
  .contain p {
    font-size: 14px;
  }
  .tools__p > p {
    width: 60% !important;
  }
  .about__basic > img,
  .tools__p > img {
    width: 80px !important;
    height: 80px !important;
  }
  .tools__p > img {
    top: 2.2rem;
  }
  .about__tools h2 {
    font-size: 20px;
  }
  .about__tools p {
    font-size: 14px;
  }
  img.face {
    width: 8rem !important;
    height: 8rem !important;
    padding: 3px !important;
  }
  .projects > .container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .projects__boxes {
    display: block;
    width: 95%;
    margin-top: -2rem;
  }
  .projects__box {
    width: 60%;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .contact {
    height: 700px;
  }
}

@media screen and (max-width: 480px) {
  .hero__content img {
    width: 10rem !important;
    height: 10rem !important;
  }
  .hero__typo {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .hero__sub {
    font-size: 0.7rem;
  }
  .projects__boxes {
    display: block;
    width: 95%;
    margin-top: -2rem;
  }
  .projects__box {
    width: 80%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    margin-top: 0.5rem;
  }
  .footer div {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer div a {
    margin: 1.2rem 0 1.2rem 0;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 360px) {
  .basic-icon,
  .tools-icon {
    display: none;
  }
  .contain {
    width: 100%;
  }
  .tools__p > p {
    width: 100% !important;
  }
  img.face {
    width: 5rem !important;
    height: 5rem !important;
    padding: 1px !important;
  }
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes scale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
/*# sourceMappingURL=style.css.map */