@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.125rem;
	color: #555;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background: -webkit-linear-gradient(#4776e6, #8e54e9);
	outline: 1px solid white;
	border-radius: 1em;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

p {
	margin: 0;
	padding: 0;
}

.active {
	background-color: #6b65e7;
	background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
	color: #fff;
	width: 100px;
	height: 40px;
	border-radius: 22.5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-times {
	background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.sidenav--open {
	width: 200px !important;
}

.hamburger {
	display: none;
	position: relative;
	cursor: pointer;
	z-index: 4;
}

.hamburger__wrapper {
	width: 50px;
	height: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hamburger--line {
	position: absolute;
	height: 2px;
	width: 50%;
	transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
	background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
}

.top {
	top: 28%;
}

.middle {
	top: 48%;
}

.bottom {
	top: 68%;
}

.icon.close .top {
	transform: rotate(45deg);
	top: 48%;
}

.icon.close .middle,
.icon.close .bottom {
	transform: rotate(-45deg);
	top: 48%;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 90px;

	a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 1.4em;
		display: block;
		transition: 0.3s;
		color: #6b65e7;
		background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;

		:hover {
			color: #f1f1f1;
		}
	}

	.active {
		width: 100%;
		height: fit-content;
		font-weight: 600;
	}
}

.sidenav__content {
	position: relative;
	width: fit-content !important;
}

.navbar {
	width: 100vw;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 555;
	user-select: none;

	&__container {
		width: 85%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__scroll {
		background: #fff;
		position: fixed;
		transition: ease 0.5s;
	}

	&__logo {
		width: 60px;
		height: 60px;
	}

	&__nav {
		list-style: none;
		display: flex;
		width: 500px;
		justify-content: space-evenly;

		a {
			text-decoration: none;
			color: #555;
			font-weight: 500;
		}
	}
	&__link {
		width: 100px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;

		&:not(.active):hover {
			background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

.hero {
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;

	&__content {
		text-align: center;

		img {
			user-select: none;
		}
	}

	&__typo {
		font-weight: 800;
		font-size: 4.5rem;
		color: #6b65e7;
		background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.contain {
	width: 40%;
}

.about {
	background: url('../img/background-full.svg') no-repeat;
	background-position: center;
	background-position-y: top;
	position: absolute;
	background-size: cover;
	height: 1000px;
	width: 100vw;

	&__content {
		padding-top: 6em;

		h1 {
			user-select: none;
		}
	}

	&__container {
		position: relative;
		padding-top: 9em;

		.tools__p {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			width: 100%;

			img {
				width: 200px;
				height: 200px;
				user-select: none;
				position: relative;
				top: 3rem;
			}

			p {
				width: 40%;
			}
		}

		.tools__h2 {
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
		}
	}

	&__wrapper {
		width: 84%;
		height: 85%;
	}

	&__box {
		margin-top: 8em;
		background: #fff;
		width: 75%;
		height: 850px;
		border-radius: 30px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;

		.about__wrapper {
			width: 84%;
			height: 85%;
		}

		img.face {
			width: 12.5rem;
			height: 12.5rem;
			border-radius: 300px;
			padding: 5px;
			position: absolute;
			background: -webkit-linear-gradient(left, #6064dd, #6d5dde);
			box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
			user-select: none;
			z-index: 1;
		}

		img.line {
			filter: drop-shadow(0px 0px 15px black);
			width: 100%;
			user-select: none;
		}
	}
	&__basic {
		height: 33.3333%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		text-align: justify;

		h2 {
			color: #6b65e7;
			background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		a {
			text-decoration: none;
			background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		img {
			width: 200px;
			height: 200px;
			user-select: none;
			position: relative;
			top: 1.4rem;
		}
	}
	&__face {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 33.3333%;
	}

	&__tools {
		height: 33.3333%;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		margin: 0 0 0 auto;
		text-align: justify;

		.container {
			width: 100%;
		}

		h2 {
			color: #6b65e7;
			background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	h1 {
		text-align: center;
		color: #fff;
		font-weight: 600;
		font-size: 48px;
	}
}

.bg-tl::after,
.bg-cm::after,
.bg-pp::after,
.bg-sch::after {
	content: 'Telean';
	background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	top: -2rem;
	position: absolute;
	font-size: 24px;
	font-weight: 500;
}

.bg-cm::after {
	content: 'Centrum Moto';
}

.bg-pp::after {
	content: 'Dark PayPal';
}

.bg-sch::after {
	content: 'Schoolify';
}

.link-tl,
.link-cm,
.link-pp,
.link-sch {
	z-index: -1;
	opacity: 0;
	user-select: none;
	position: relative;
	transition: 0.2s;
	text-decoration: none;
	color: #fff;
	margin: 0 auto;
	border: 2px solid white;
	padding: 0.5rem;
	border-radius: 22.5px;
	font-weight: 500;
}

.projects {
	text-align: center;
	margin-top: 1em;
	padding-top: 5em;

	h1 {
		color: #6b65e7;
		background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 48px;
		margin-bottom: 3em;
		font-weight: 600;
		user-select: none;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__boxes {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 40px;
		width: 75%;
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 24.414vh;
		position: relative;
		color: #fff;
		background: #fff;
		background-clip: padding-box;
		border: solid 3px transparent;
		border-radius: 20px;
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
		cursor: pointer;

		img {
			position: absolute;
			width: 100%;
			user-select: none;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			margin: -3px;
			border-radius: inherit;
			background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
		}
	}
}

.projects__box--bg {
	border-radius: 16px;
	height: 100%;
	transition: 0.2s;
	opacity: 1;

	&:hover {
		opacity: 0.1;
		transition: 0.2s;
	}
}

.contact {
	text-align: center;
	background: url('../img/background-reversed.svg') no-repeat;
	height: 600px;
	width: 100vw;
	margin-top: 8em;
	position: relative;
	background-size: cover;
	background-position: center;
	background-position-y: bottom;

	h1 {
		font-size: 48px;
		padding-top: 2em;
		font-weight: 600;
		color: #fff;
		user-select: none;
	}

	form {
		padding-top: 3em;
		input,
		textarea,
		button {
			width: 18rem;
			height: 2.7rem;
			border-radius: 20px;
			border: none;
			font-family: 'Montserrat';
			color: #555;
			font-weight: 500;
			font-size: 1.125rem;
			box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
			padding: 1em;
			margin: 0.5em;
			user-select: none;
		}
		textarea {
			width: 37.5rem;
			height: 8rem;
		}
		button {
			width: 145px;
			height: 44px;
			background: #fff;
			font-size: 24px;
			font-weight: 700;
			padding: 0;
			cursor: pointer;

			.btn-text {
				color: #6b65e7;
				background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		::placeholder {
			color: rgba(0, 0, 0, 0.4);
		}
	}
}

.footer {
	width: 100vw;
	text-align: center;
	position: relative;

	div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.social-logo {
		width: 30px;
		height: 30px;
	}

	.my-logo {
		width: 60px;
		height: 60px;
		margin: -0.8em;
	}

	p {
		font-weight: 500;
		color: #6b65e7;
		background: -webkit-linear-gradient(left, #4776e6, #8e54e9);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-top: 1em;
		margin-bottom: 1em;
		user-select: none;
	}

	a {
		width: 30px;
		height: 30px;
		margin: 0.8em 1.2em;
		user-select: none;
	}
}

@media screen and (max-width: 1150px) {
	img.face {
		width: 10rem !important;
		height: 10rem !important;
	}
}

@media screen and (max-width: 1024px) {
	.sidenav__btn {
		display: block !important;
	}

	.hamburger {
		display: block;
	}

	.navbar__nav {
		display: none;
	}

	.about__box {
		width: 95%;
	}

	.about__basic,
	.about__tools {
		font-size: 16px;
		width: 100% !important;
	}

	.projects {
		.container {
			display: flex !important;
			justify-content: center !important;
		}
	}

	.projects__boxes {
		width: 95%;
	}
}

@media screen and (max-width: 670px) {
	input,
	textarea {
		width: 90% !important;
	}

	input {
		height: 3rem !important;
	}

	.hero {
		&__content {
			img {
				width: 12em !important;
				height: 12em !important;
			}
		}

		&__typo {
			font-size: 3.5rem;
		}

		&__sub {
			font-size: 1rem;
		}
	}

	.about {
		margin-top: -3rem;
	}

	.contain {
		width: 60%;

		h2 {
			font-size: 20px;
		}

		p {
			font-size: 14px;
		}
	}

	.tools__p > p {
		width: 60% !important;
	}

	.about__basic > img,
	.tools__p > img {
		width: 80px !important;
		height: 80px !important;
	}

	.tools__p > img {
		top: 2.2rem;
	}

	.about__tools {
		h2 {
			font-size: 20px;
		}
		p {
			font-size: 14px;
		}
	}

	img.face {
		width: 8rem !important;
		height: 8rem !important;
		padding: 3px !important;
	}

	.projects > .container {
		display: flex !important;
		justify-content: center !important;
	}

	.projects__boxes {
		display: block;
		width: 95%;
		margin-top: -2rem;
	}

	.projects__box {
		width: 60%;
		margin-top: 5rem;
		margin-left: auto;
		margin-right: auto;
	}

	.contact {
		height: 700px;
	}
}

@media screen and (max-width: 480px) {
	.hero {
		&__content {
			img {
				width: 10rem !important;
				height: 10rem !important;
			}
		}

		&__typo {
			font-size: 2rem;
		}

		&__sub {
			font-size: 0.7rem;
		}
	}

	.projects__boxes {
		display: block;
		width: 95%;
		margin-top: -2rem;
	}

	.projects__box {
		width: 80%;
		margin-top: 3rem;
		margin-left: auto;
		margin-right: auto;
	}

	.footer {
		margin-top: 0.5rem;
		a {
			width: 33.3333%;
		}
	}
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}

@media screen and (max-width: 360px) {
	.basic-icon,
	.tools-icon {
		display: none;
	}

	.contain {
		width: 100%;
	}

	.tools__p > p {
		width: 100% !important;
	}

	img.face {
		width: 5rem !important;
		height: 5rem !important;
		padding: 1px !important;
	}
}
